@{
    ViewData["Title"] = "Home Page";
}



@Html.Partial("_imageHeader")




@*
    <div id="carouselExampleIndicators" class="carousel slide d-md-none" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1649640802/Products/online_barndoor_xiuihw.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1649641063/Products/Barn-Door-Console-by-Shanty2Chic_mmekdp.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/css/Barn-Door-Console-by-Shanty2Chic.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>*@






<div class="container mt-4">
    <h1 class="text-center">Shop By Collection</h1>
    <hr />
</div>


<div class="container-md mt-3 mb-3">
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="img-wrapper mb-4 rounded">
                <div class="img-description d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Living Room</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("LivingRoom", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img class="w-100" src="https://res.cloudinary.com/dmremrlru/image/upload/v1651365804/Products/Customer%20Views/FB_IMG_1651365606345_yndg3z.jpg" alt=""/>  
                </div>
            </div>
             <div class="img-wrapper rounded mb-3">
                <div class="img-description rounded d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Bedroom</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("Bedroom", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1651365800/Products/Customer%20Views/FB_IMG_1651365569718_zl1jbr.jpg" class="w-100" alt="Yosemite National Park"/>
                </div>
            </div>   
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="img-wrapper mb-4 rounded">
                <div class="img-description d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Bathroom</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("BathRoom", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1651369674/Products/Customer%20Views/received_188213069427872_aujuwz.jpg" class="w-100 " alt="Mountains in the Clouds"/>
                </div>
            </div>
            <div class="img-wrapper rounded">
                <div class="img-description d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Dining Room</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("DiningRoom", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img src="https://res.cloudinary.com/dmremrlru/image/upload/c_scale,h_1501,w_1657/v1651365794/Products/Customer%20Views/FB_IMG_1651365542722_fdd6mq.jpg" class="w-100" alt="Boat on Calm Water"/>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="img-wrapper rounded mb-4">
                <div class="img-description d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Office</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("Office", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1651369953/Products/Customer%20Views/154015133_252256833020451_9003734967886412853_n_n38koc.jpg" class="w-100 h-30" alt="Waves at Sea"/>
                </div>
            </div>
            <div class="img-wrapper rounded mb-5">
                <div class="img-description d-flex justify-content-center align-content-center flex-column">
                    <p class="shop-by-title">Outdoors</p>
                    <button type="button" class ="shop-by-button" onclick="location.href='@Url.Action("Outdoors", "Products")'">Shop</button>
                </div>
                <div class="img-inner-container">
                <img src="https://res.cloudinary.com/dmremrlru/image/upload/c_scale,h_1501,w_1657/v1651366232/Products/Customer%20Views/197783591_312291947016939_7489407679357877148_n_wtppzh.jpg" class=" w-100" alt=""/>
                </div>
            </div>
           
        </div>
    </div> 
</div>
